
.header{
    width: 1920px;
    height: 850px;
    background:#6ca2b0;
}
.banner {
    padding:40px 240px 0px 240px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.pic{
    width: 635px;
    height: 800px;
}
.banner-taitel {
    display: flex;
    width: 708px;
    flex-direction: column;
    color: #060606;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
}
.pragraph {
    display: flex;
    width: 634px;
    color:#323131;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}



.main{
    padding:40px 40px 0px 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
  



.header-name {
     width: 1922px;
     height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.pngwing{
    width: 318px;
height: 420px;
}






.about{
    width: 1922px;
    height: 620px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.class-about{
    text-align: center;
}
.about-taitle{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.about-descriptionn{
    display: flex;
    width: 594px;
    flex-direction: column;
    color: #fff;
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.sbout-btn{
   
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
background: #E55473;
}
.photo{
width: 318px;
height: 420px;

}




.skills-container{
    display: flex;
    width: 342px;
height: 396px;
gap: 24px;
margin-right: 240px;
margin-left: 240px;
background: #FFF;
}
.desing{
width: 1920px;
height: 4867px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0px;

}
.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
   gap: 50px;
}

.footer-column{
    width: 1440px;
height: 449px;
background-image: url('../imagas/Rectangle\ 9.png');
}



.main-style{
    width: 1440px;
height: 449px;
flex-shrink: 0;
border-radius: 8px;
background-image: url('../flower asset/Rectangle\ 9.png');
}
.style-main{
    color: #171717;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
#what-i-do-description{
    color:#E55473;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.bton-primary{
    width: 400px;
    height: 55px;
    border-radius: 10px;
    background: #827373;
    margin-right: auto;
}
.Subscribe{
    border-radius: 5px;
background: #fd6e0a;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;
}


.main-footer{
   text-align: center;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
}
.FlowerShop{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
  text-align: center;
    font-weight: 800;
}
.content{
    text-align: center;
    display: flex;
    width: 625px;
    color: rgba(181, 21, 21, 0.9);

font-family: Lato;
font-size: 18px;

}